body {
    font-family: monospace;
}

p {
    font-size: 4rem;
    margin: 50px;
}

@keyframes spin {
    100% {transform: rotateY(360deg) rotate(360deg) ;}
}

.letter {
    display: inline-block;
    text-align: center;
    color: violet;
    margin: 10px;

    animation: spin 2s normal infinite;
}