body {
    font-size: 100%;
    font-family: sans-serif;
}

h1 {
    width: 100%;
    margin: 0 -50%;
    text-align: center;
    font-size: 8rem;
}


@keyframes spin {

    100% {transform: rotate(360deg);}
}


.spinning {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #000;
    animation: spin 10s linear infinite;
}