/*css for index page*/

#content {
    width: 600px;
    border: 10px solid purple;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    background-color: aqua;
}


.hide {
    color: transparent;
    border-bottom: 5px dotted blue;
}

.hide:hover {
    color:#f00;
    cursor: pointer;
}




body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url(images/clouds-final.gif);
    background-repeat: repeat;
}