/* Background color animation */

body {
    font-family: sans-serif;
    color: #fff;
    font-size: 8rem;

    background: linear-gradient(-45deg, red, rgb(215, 29, 116), skyblue, rgb(132, 0, 255));
    background-size: 400% 400%;

    animation: gradient 1s ease infinite;
  
  }
  
  /* 
     The keyframes move the background position around the body 
     to give the impression of shifting colour tones.
  */
  @keyframes gradient {
    0%   { background-position: 0% 50%; }
    50%   { background-position: 100% 50%; }
    100%   { background-position: 0% 50%; }
  }


  /* animated box */


  #container {
    width: 300px;
    height: 300px;
    border: dashed 3px #000000; /* container to show the animation area */
  }
  
  p {
    font-size: 4rem;
    margin: 0;
    padding: 0;
  }
  
  @keyframes move {
    /* moves the text around the four corners of the container */
    0%   { top: 0%;   left: 0%; }
    25%  { top: 100%; left: 100%; }
    50%  { top: 0%; left: 100%; }
    100%  { top: 100%; left: 0%; }
  }
  
  .moving {
    position: relative; /* allows top/left offsets to animate */
    color: #ff0000;
    text-align: left;
    border: dashed 3px #ff0000;

    animation: move 10s ease infinite alternate-reverse;
  
 
  }
  