/*css for page 1 */

body {margin: 16px; font-family: 
    Arial, Helvetica, sans-serif; 
    background: rgb(220, 119, 224);
}

.main-panel {display: flex; gap: 8px;}

.content-block {padding: 16px; color: #000}

.green {background: #34eb68; flex: 1;}

.yellow {background: #ebe834; flex: 1;}

.red {background: #eb3434; flex: 2;}



/*css for page 2*/
#content {
    width: 50%;
    max-width: 800px;
    min-width: 250;
    margin: 0 auto;
    color: navy;
}

h1 {
    font-size: 4rem;
    border-bottom: 4-x solid navy;
    margin: 25px 0;
}

p {font-size: 1.5rem;}

.photo-container {
    float: right;
    width: 50%;
    margin: 0 0 15px 25px;
    background: navy;
    color: gainsboro;
}

.caption {
    font-size: 16px;
    padding: 0 10px;
    font-style: italic;

}

a {color: crimson;
    text-decoration: none;
}

a:hover {background: navy; color: gainsboro}


